body {
    width:1200px;
    margin : 25px auto ;
}
header {
    background-color: #FFC800;
    margin-bottom: 25px;
    padding: 10px;        
}

nav {
    background-color: #90C9F6;
    position: relative;
    margin : 0 auto ;
}

main {
    background-color: #8CB63F ;
    margin-bottom: 25px;
    padding: 10px;
}

footer {
    background-color: #9AA9F9;
    padding: 10px;
}

nav ul {
    margin : 0;
    padding : 0
}

nav ul li {
    display: inline-block;
}


aside {	
	background-color:RED ;
    padding: 10px;  
}