.header {
	background:url('../images/header.png');	
	cursor:pointer ;
	height:259px;	
}

.withoutUnderline {
    text-decoration:none
}

.texteGras {
	font-weight:bold;
}

.texteItalic {
	font-style:italic;
}

.titleCenter {
	text-align:center ;
}

.texteRouge {
	color:#ff0000;
}

.textBleu {
	color:#0000ff
}

.textNoir {
	color:#000000;
}

.MT10 {
	margin-top:10px;
}

.MT20 {
	margin-top:20px;
}

.MT40 {
	margin-top:40px;
}

.MB50 {
	margin-bottom:50px;
}

.padding10 {
	padding:10px;
}

.padding20 {
	padding:20px;
}

.borderGrey {
	border: 1px solid grey;
}

.button {
	background-color: #008000;
	color:#fff;	
	border-radius: 12px;
	margin-top :10px;
	padding:10px;
	border:none;
}

.button:hover {
	background-color: #fff;
	border:1px solid #008000;
	color:#008000 ;	
}

.buttonTest {
	background-color: #grey;
	color:#000;	
	opacity: 0.8;
	border-radius: 12px;
	margin-top :10px;	
	width:75px;
	height:30px;
	Font-size:12px;
}

.button2 {
	background-color: darkblue;
	color:#fff;	
	border-radius: 12px;
	margin-top :10px;
	padding:10px;
	border:none;
}

.titre {
	text-align: center;
	margin: 0 auto;
}

.bouton {
	background-color:#008000 ;
	border-radius:25px;
	border:none;
	padding:10px;
}

.divDimension {
	width:300px;
	height:200px;	
	padding:20px;
}

table {
	border-collapse:collapse ;
}

th { 
    word-wrap: normal;
}

.tableBalise td, .tableBalise th {  
    border:1px solid #000  ;
    border-collapse: collapse;
    padding : 5px;    
}

.backgroundGrey {
    background-color:lightslategrey;
}

.divGris {			
    background-color:#666 ;
    width: 250px;
    height:100px;   
}

.divTransformation {
    height:30px;
    width:75px ;
    margin-top: 25px;
    background-color:#ff0000 ;	
}

.divTransformation2 {
    height:50px;
    width:75px ;
    position: absolute;
    margin:25px 85px;			
    background-color:#ff0000 ;	
}

.divLightBlue {			
    background-color:lightblue ;
    width: 550px;
    padding:10px;    
}

.divLightBlue2 {			
    background-color:lightblue ;        
    padding:10px;    
}

.divLightBlue3 {			
    background-color:lightblue ;    
    width:200^x
    padding:10px;    
}

/*recap fonctions javascript*/
.enteteBouton {
    margin-bottom: 25px;
}

.bouton {
    border-style: none;
    border-radius : 25px ;
    Width :150px;
    height: 35px;      
    cursor: pointer;      
}

.chaine {
    background-color: springgreen;
}

.chaine:hover {
    color: darkgreen;
    background: white;
    border: 1px solid springgreen;
}

.nombre {
    background-color: dodgerblue;
}

.nombre:hover {
    color: dodgerblue;
    background: white;
    border: 1px solid dodgerblue;
}

.tableau {
    background-color: darkorange;
}

.tableau:hover {
    color: darkorange;
    background: white;
    border: 1px solid darkorange;
}

.DOM {
    background-color: darkblue;
    color:#ffffff;
}

.DOM:hover {
    color: darkblue;
    background: white;
    border: 1px solid darkblue;
}

.all {
    background-color: lightslategrey;
}

.all:hover {
    color: lightslategrey;
    background: white;
    border: 1px solid lightslategrey;
}
/*fin recap fonctions javascript*/